<!-- Begin Mailchimp Signup Form -->
<form action="https://team.us1.list-manage.com/subscribe/post?u=7d2af60f4749a2c0263ae5305&amp;id=5662456f09" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<div class="row mb-3 mc-field-group">
<div class="col">
<input type="email" placeholder="Email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
</div>
</div>

<div class="row mb-3 mc-field-group">
<div class="col">
<input type="text" placeholder="First name (optional)" value="" name="FNAME" class="form-control" id="mce-FNAME">
</div>
<div class="col">
<input type="text" placeholder="Last name (optional)" value="" name="LNAME" class="form-control" id="mce-LNAME">
</div>
</div>

<!--
<div class="mc-field-group size1of2">
<label for="mce-BIRTHDAY-month">Birthday </label>
<div class="datefield">
<span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
<span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
<span class="small-meta nowrap">( mm / dd )</span>
</div>
</div>
-->

<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>

<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true">
<input type="text" name="b_7d2af60f4749a2c0263ae5305_5662456f09" tabindex="-1" value=""></div>

<div class="row">
<div class="col">
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-lg">
</div>
</div>

</form>
<!--End mc_embed_signup-->
